/*- CSS style sheet */

/*- style.css ~~
 *
 *  NOTE: I am still working to integrate :before and :after pseudo-selectors
 *  that show the Unicode alert symbol, U+26A0.
 *
 *                                                      ~~ (c) SRW, 03 Aug 2012
 *                                                  ~~ last updated 12 Jun 2013
 */

a {
    border-bottom: 1px dotted;
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

body {
    background-color: #CCCCCC;
    color: black;
    font-family: Georgia,Serif;
    font-size: 12pt;
    margin: 0.5in 1in 0.5in 1in;
    text-align: center;
}

form p {
    text-align: left;
}

h1 {
    text-align: center;
}

html {
 /* This snippet makes text look nicer (source: http://goo.gl/fr85e). */
    -webkit-font-smoothing: antialiased;
}

input {
 /*
    Hide the actual input element from the user. Although this would seem to
    make it useless for taking input, it works well because we can then
    associate a label with it and use the label as the target for clicks.
    Setting "display" to "block" puts each choice on its own line.
 */
    visibility: hidden;
}

input[type="button"],input[type="range"],input[type="text"] {
 /*
    This "unhides" the "Case Identifier" and "Generate Report" elements.
 */
    visibility: visible;
}

input + label {
 /*
    Any label associated with an input element should be gray text in a gray
    box with the default background color. Also, we double-space the text to
    keep the boxes from overlapping.
 */
    color: gray;
    line-height: 2;
    outline: 1px solid gray;
    padding: 5px;

 /*
    Sometimes a user's clicks are interpreted by the browser as an attempt to
    select the label's text, but this is almost never the user's intent. See
    the post at http://stackoverflow.com/a/4407335 for more information.
 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

input:checked + label, input[type="range"] + label {
 /*
    When the input is "checked", such as for a checkbox or a radio button, the
    label's text should become black and the background should become white. At
    the moment, the exact color of the box isn't important enough for me to go
    read the standard :-P
 */
    color: black;
    background-color: white;
}

input:hover + label {
 /*
    When a mouse hovers over one of the special input elements, its text will
    turn black and it will have a very faint shadow if the browser supports it.
 */
    color: black;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
}

textarea {
 /*
    The definitions here only affect #report-output right now, but the CSS Lint
    tool recommends not to use id selectors if they can be avoided. See the
    site at http://csslint.net for more information.
 */
    font-family: Georgia,Serif;
    font-size: 12pt;
    resize: both;
    width: 100%;
}

ul {
    text-align: left;
}

input:required:invalid {
 /*
    This class applies to invalid input elements. See http://goo.gl/Mva6q.
 */
    background-color: #FFEBEB;
    border-color: red;
}

.popup {
 /*
    This class is used for the lightbox effect.
 */
    display: none;
    height: 62%;
    left: 19%;
    padding: 1ex;
    position: fixed;
    top: 19%;
    width: 62%;
}

.section a {
 /*
    Links within sections will be emphasized with big, bold text.
 */
    font-size: 18pt;
    font-weight: bold;
}

.sentence {
 /*
    This markup corresponds to the `sentence` command in the DSL.
 */
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
}

.skipline {
 /*
    This markup only applies to #case-id at the moment ...
 */
    margin-bottom: 1em;
}

/*- vim:set syntax=css: */
