/*- CSS style sheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 03 Aug 2012
 *                                                  ~~ last updated 07 Aug 2012
 */

body {
    background-color: #CCCCCC;
    color: black;
    font-family: Georgia,Serif;
    font-size: 12pt;
    margin: 0.5in 1in 0.5in 1in;
    text-align: center;
}

form p {
    text-align: left;
}

h1 {
    text-align: center;
}

input {
 /*
    Hide the actual input element from the user. Although this would seem to
    make it useless for taking input, it works well because we can then
    associate a label with it and use the label as the target for clicks.
    Setting "display" to "block" puts each choice on its own line.
 */
    visibility: hidden;
}

input + label {
 /*
    Any label associated with an input element should be gray text in a gray
    box with the default background color. Also, we double-space the text to
    keep the boxes from overlapping.
 */
    color: gray;
    line-height: 2;
    outline: 1px solid gray;
    padding: 5px;

 /*
    Sometimes a user's clicks are interpreted by the browser as an attempt to
    select the label's text, but this is almost never the user's intent. See
    the post at http://stackoverflow.com/a/4407335 for more information.
 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

input:checked + label {
 /*
    When the input is "checked", such as for a checkbox or a radio button, the
    label's text should become black and the background should become white. At
    the moment, the exact color of the box isn't important enough for me to go
    read the standard :-P
 */
    color: black;
    background-color: white;
}

textarea {
 /*
    The definitions here only affect #report right now, but the CSS Lint tool
    recommends not to use id selectors if they can be avoided. See the site at
    http://csslint.net for more information.
 */
    font-family: Georgia,Serif;
    font-size: 12pt;
    resize: both;
    width: 100%;
}

/*- vim:set syntax=css: */
