/*- CSS style sheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 03 Aug 2012
 *                                                  ~~ last updated 11 Oct 2012
 */

a {
    color: inherit;
}

body {
    background-color: #CCCCCC;
    color: black;
    font-family: Georgia,Serif;
    font-size: 12pt;
    margin: 0.5in 1in 0.5in 1in;
    text-align: center;
}

form p {
    text-align: left;
}

h1 {
    text-align: center;
}

html {
 /* This snippet makes text look nicer (source: http://goo.gl/fr85e). */
    -webkit-font-smoothing: antialiased;
}

input {
 /*
    Hide the actual input element from the user. Although this would seem to
    make it useless for taking input, it works well because we can then
    associate a label with it and use the label as the target for clicks.
    Setting "display" to "block" puts each choice on its own line.
 */
    visibility: hidden;
}

input + label {
 /*
    Any label associated with an input element should be gray text in a gray
    box with the default background color. Also, we double-space the text to
    keep the boxes from overlapping.
 */
    color: gray;
    line-height: 2;
    outline: 1px solid gray;
    padding: 5px;

 /*
    Sometimes a user's clicks are interpreted by the browser as an attempt to
    select the label's text, but this is almost never the user's intent. See
    the post at http://stackoverflow.com/a/4407335 for more information.
 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

input:checked + label {
 /*
    When the input is "checked", such as for a checkbox or a radio button, the
    label's text should become black and the background should become white. At
    the moment, the exact color of the box isn't important enough for me to go
    read the standard :-P
 */
    color: black;
    background-color: white;
}

textarea {
 /*
    The definitions here only affect #report-output right now, but the CSS Lint
    tool recommends not to use id selectors if they can be avoided. See the
    site at http://csslint.net for more information.
 */
    font-family: Georgia,Serif;
    font-size: 12pt;
    resize: both;
    width: 100%;
}

ul {
    text-align: left;
}

.fork-me {
 /* There is a much fancier version available at http://goo.gl/CSWv3. */
    border-bottom: none;
    left: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fork-me span {
    background: black;
    color: white;
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 250px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
}

.fork-me span:hover {
    background: blue;
}

.section {
 /*
    This markup corresponds to the `section` command in the DSL.
 */
    font-size: 18pt;
    font-weight: bold;
}

.sentence {
 /*
    This markup corresponds to the `sentence` command in the DSL.
 */
    font-size: 12pt;
    font-weight: normal;
    text-align: justify;
}

/*- vim:set syntax=css: */
